<body>
    <h1>Editing Book</h1>
<%= form_with model: @book, local:true do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
<% end %>


 <div><%=link_to "Show",book_path(@book.id)%></div>
 <div><%=link_to "back" ,books_path %></div>





</body>